body{
  margin:0;

  height:100vh;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  background:#62c4d3;

  font-family:sans-serif;

}

.calendar{
  width:260px;
  background:rgb(255, 255, 255);

  border-radius:20px;

  padding:20px;

  text-align:center;
  
}

#today{
  text-align:center ;
  color:#000000;
  font-size:14px;
}

.days-area{
  margin:20px 0;
}

#days{
  font-size:90px;
  margin:0;
}


#event-name{
  font-size:24px;
  font-weight:bold;
}

#event-date{
  color:#000000;
}


.input-area{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

input,button{
  padding:10px;
  border-radius:10px;
  border:1px solid #ffffff;
  font-size:16px;
}


button{
  cursor:pointer;
}